Options -MultiViews

<IfModule mod_rewrite.c>
	RewriteEngine On

    RewriteCond %{REQUEST_URI} !^/vendor/daehl/hos-framework/index.php
	RewriteRule ^(.*)$ vendor/daehl/hos-framework/index.php [QSA,L]
</IfModule>

ServerSignature Off
#ServerTokens Prod